<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <h2>Profile</h2>
        <p>First Name: {{ user_info['first_name'] }}</p>
        <p>Last Name: {{ user_info['last_name'] }}</p>
        <p>Email: {{ user_info['email'] }}</p>
        <h3>Posts</h3>
        <h3>League Stats</h3>
        {% if match_stats.error %}
        <p>Error: {{ match_stats.error }}</p>
        {% else %}
        <p>{{ match_stats.riot_username }}#{{ match_stats.riot_tag }} has played {{ match_stats.total_playtime }} of league in the last week. point and laugh.</p>
        <p>wins: {{ match_stats.total_wins }}</p>
        <p>losses: {{ match_stats.total_losses }}</p>
        {% endif %}

        <a href="{{ url_for('create_post', hashed_id=hashed_id) }}">Create New Post</a>
        <ul>
            {% for post in posts %}
            <li>
                <a href="javascript:void(0);" onclick="togglePostContent('{{ post['id'] }}')">{{ post['title'] }}</a> - {{ post['timestamp'] }}
                <div id="content-{{ post['id'] }}" style="display: none;">
                    <p>{{ post['content'] }}</p>
                    <form action="{{ url_for('view_post', post_id=post['id']) }}" method="get" style="display:inline;">
                        <button type="submit">View</button>
                    </form>
                    <form action="{{ url_for('delete_post', post_id=post['id'], hashed_id=hashed_id) }}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
